@import './general/base.scss';
@import './general/variables.scss';
@import './general/typography.scss';

@import './components/components.scss';
@import './helpers/helpers.scss';


h1 {
    font-size: 36px;
}

h2 {
    font-size: 26px;
}

form {
    width: 450px;
    margin: 0 auto;
}

input {
    width: 280px;
    height: 45px;
    padding: 0 10px;
    font-size: 18px;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    outline: none;
}

.container {
    padding-top: 80px;
    padding-bottom: 40px;
}

.block-shadow {
    box-shadow: 0 5px 30px rgba(0, 0, 0, .4);
}

.footer {
    background-color: #222;
}